:root {
    --nav-height: 80px;
    --primary-color: #f9f9f9;
    --secondary-color: #000033;
    --tertiary-color: #404040;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.scrolled {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-home {
    margin-right: auto;
}

nav a {
    margin-left: 40px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.hero {
    height: 100vh;
    padding-top: var(--nav-height);
}

.hero-content {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.hero-content p {
    margin: 15px 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

#resume-btn {
    position: relative;
    top: 20px;
    padding: 20px;
    border: solid var(--secondary-color) 1px;
    border-radius: 10px;
    cursor: pointer;
}

#resume-btn:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

section {
    width: 85%;
    margin: 0 auto 60px auto;
}

.anchor {
    padding-top: 80px;
    margin-top: -80px;
}

.section-title {
    margin-bottom: 20px;
}

.projects-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.project-tile {
    height: 400px;
    border: solid black 1px;
    border-radius: 10px;
}

.tile-image {
    height: 75%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.tile-banner {
    height: 25%;
    border-radius: 0 0 10px 10px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer-container {
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.footer-container a {
    margin: 0 10px;
    font-size: 1.2rem;
}

.credits {
    margin: 10px;
}