:root {
    --nav-height: 80px;
    --primary-color: #f9f9f9;
    --secondary-color: #000033;
    --tertiary-color: #404040;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Poppins;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.scrolled {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar {
    text-align: end;
}

.nav-home {
    margin-right: auto;
}

nav a {
    margin: 0 10px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-content-cell {
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content p {
    margin: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

#resume-btn {
    padding: 20px;
    border: solid var(--secondary-color) 1px;
    border-radius: 10px;
    cursor: pointer;
}

#resume-btn:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#projects {
    width: 85%;
    margin: 0 auto 60px auto;
}

.anchor {
    padding-top: 80px;
    margin-top: -80px;
}

.section-title {
    margin-bottom: 20px;
    text-align: center;
}

.projects-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    height: 420px;
    width: 320px;
    border: solid black 1px;
    border-radius: 10px;
    margin: 20px;

}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transform: rotate(-45deg);
}

.tile-image {
    height: 70%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.project-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #1a1a1a;
    border-radius: inherit;
}

.tile-banner {
    height: 30%;
    border-radius: 0 0 10px 10px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer-container {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.resume-btn {
    padding: 5px;
    color: var(--primary-color);
    background-color: transparent;
    border: solid var(--primary-color) 1px;
    border-radius: 5px;
}

.socials {
    margin-bottom: 10px;
}

.footer-container a {
    margin: 0 10px;
}

.credits {
    margin: 10px;
    font-size: 0.8em;
}